<div class="row animated fadeInd">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarUsuario( input.value )" type="text" class="form-control"
                    placeholder="Buscar Usuario...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInd" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por Favor</span>
        </div>
    </div>
</div>
<div class="row animated fadeInd" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Usuarios Registrado(<small>{{totalRegistros}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Role</th>
                            <th>Auth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of usuarios">

                            <td (click)="mostrarModal(item._id)" class="W70"><img [src]="item.img | imagen" class="img-50 img-circle pointer"></td>
                            <td>{{item.email}}</td>
                            <td>{{item.nombre}}</td>
                            <td>
                                <select [(ngModel)]="item.role" name="role" class="form-control">
                                    <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                                    <option value="USER_ROLE">USER_ROLE</option>
                                </select>
                            </td>
                            <td>
                                <label *ngIf="item.google" class="label label-danger">Google</label>
                                <label *ngIf="!item.google" class="label label-primary">Normal</label>

                            </td>
                            <td>
                                <button (click)="guardarUsuario(item)" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button (click)="borrarUsuario(item)" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secoundary">
                    Anteriores
                </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secoundary">
                    Siguientes
                </button>
            </div>
        </div>
    </div>
</div>